body {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
}

.container {
    align-items: center;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    width: 500px;
}

.square {
    background-color: #FF9F1C;
    height: 100px;
    position: absolute;
    width: 100px;
}

.board {
    border: 2px solid #E5E5E5;
    overflow: hidden;
    position: relative;
    width: 340px;
}

.row1 {
    display: flex;
    justify-content: center;
    margin-bottom: auto;
    width: 100%;
}

.row2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.row3 {
    display: flex;
    justify-content: center;
    margin-top: auto;
    width: 100%;
}

.move-button {
    background-color: #4FC1E9;
    border-color: transparent;
    border-radius: .2rem;
    font-size: 2rem;
}

.move-button:active {
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
}

.vertical-button {
    height: 80px;
    width: 340px;
}

.horizontal-button {
    height: 340px;
    width: 80px;
}