* {
    box-sizing: border-box;
}

body {
    align-items: center;
    background-color: #1E1E1E;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
}

body,
.quote-input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    background-color: #D8DEE9;
    border-radius: .5rem;
    max-width: 90%;
    padding: 2rem;
    width: 700px;
}

.container:has(.quote-input:focus) {
    color: #B0B0B0;
}

.timer {
    color: #E0A106;
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    top: 5rem;
}

.quote-display {
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
}

.quote-input {
    background-color: transparent;
    border-radius: .5rem;
    border: 2px solid #E0A106;
    font-size: 1rem;
    height: 8rem;
    margin: auto;
    outline: none;
    padding: .5rem 1rem;
    resize: none;
    width: 100%;
}

.quote-input:focus {
    border-color: black;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
    text-decoration: underline;
}

.quote-button-hidden {
    bottom: 15rem;
    position: absolute;
    visibility: hidden;
}

.quote-button-visible {
    background-color: #E0A106;
    border-radius: .5rem;
    bottom: 15rem;
    color: white;
    font-size: large;
    padding: 1rem;
    position: absolute;
}